<div class="search-container">

  <app-search-input 
    [(value)]="query" 
    [placeholder]="'search_placeholder' | translate"
    (enterPressed)="search()">
  </app-search-input>

  <app-button label="search" (buttonClick)="search()"></app-button>
</div>

<div *ngIf="results.length > 0">
  <h2>{{ 'search_results' | translate }}</h2>
  <ul>
    <app-card *ngFor="let result of results"
              [imageUrl]="result.album.images[0].url"
              [title]="result.name"
              [subtitle]="result.artists[0].name"
              (cardClick)="playTrack(result.uri)">
    </app-card>
  </ul>
</div>
