<div class="recommendations-container">
  <div class="search-container">

    <app-search-input 
      [(value)]="seedGenres" 
      [placeholder]="'enter_seed_genres' | translate"
      (enterPressed)="getRecommendations()">
    </app-search-input>
    
    <app-button label="get_recommendations" (buttonClick)="getRecommendations()"></app-button>
  </div>

  <div *ngIf="recommendations.length > 0">
    <h2>{{ 'recommendations' | translate }}</h2>
    <ul>
      <app-card *ngFor="let track of recommendations"
                [imageUrl]="track.album.images[0].url"
                [title]="track.name"
                [subtitle]="track.artists[0].name"
                (cardClick)="playTrack(track.uri)">
      </app-card>
    </ul>
  </div>
  
  <ng-template #noRecommendations>
    <p>{{ 'no_recommendations_found' | translate }}</p>
  </ng-template>
</div>
