<div class="recommendations-container">
  <div class="search-container">
    <input [(ngModel)]="seedGenres" placeholder="Enter seed genres (comma separated)" />
    <button (click)="getRecommendations()">Get Recommendations</button>
  </div>

  <div *ngIf="recommendations.length > 0">
    <h2>Recommendations</h2>
    <ul>
      <app-card *ngFor="let track of recommendations"
                [imageUrl]="track.album.images[0].url"
                [title]="track.name"
                [subtitle]="track.artists[0].name"
                (cardClick)="playTrack(track.uri)">
      </app-card>
    </ul>
  </div>
  
  <ng-template #noRecommendations>
    <p>No recommendations found.</p>
  </ng-template>
</div>
